/******Footer******/

#foot{
	width: 980px;
	height: 78px;
	color: #666;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #ccc;
	font-size: 12px;
        clear:both;
}

/*#foot:after{
	content: "";
	display: table;
	clear: both;
}*/


.foot_foot{
	clear: both;
}


.bot{
	list-style: none;
	line-height: 17px;
	font-size: 13px;
}

ul.bot li.last{
	border-right: none;
}

ul.bot li{
	display: inline;
	font-size: 13px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

.legal{
	list-style: none;
	line-height: 14px;
	font-size: 12px;
}

ul.legal li.last{
	border-right: none;
}

ul.legal li{
	display: inline;
	font-size: 12px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

#bot_logo{
	display: block;
	float: left;
	font-size: 12px;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 8px;
	padding-right: 8px;
	vertical-align: baseline;
	clear: both;
}

#bot_logo span{
	background-image: url('../../img/images/footer_logo.png');
	float: left;
	height: 16px;
	width: 62px;
	text-align: left;
	margin-right: 3px;
	padding-right: 0px;
	margin-top: -2px;
	margin-bottom:  -2px;
	text-indent: -119988px;
}

ul.bot li a{
	text-decoration: none;
	color: #069;
}

ul.bot li a:hover{
	text-decoration: underline;
	color: #069;
}

ul.legal li a{
	text-decoration: none;
	color: #069;
}

ul.legal li a:hover{
	text-decoration: underline;
	color: #069;
}