
.header {
background: #3f3f3f;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);

box-shadow: 0 0 10px #333;
z-index: 10;
position: fixed;
top: 0;
width: 100%;
z-index: 100;
}

html, body, div, h1, h2, ul, li{
margin: 0;
padding: 0;
border: 0;
outline: 0;
list-style: none;
}
div {
display: block;
}

.header .wrapper {
z-index: 3;
margin-left: auto;
margin-right: auto;
width: 974px;
position: relative;
float: center;
}


#in-logo {
width: 50px;
margin-top: 0px;
background: url('../../img/logo_in_nav_44x36.png') left center no-repeat;
display: block;
height: 36px;
padding: 2px;
float: left;
}

.header  .nav-item {
float: left;
line-height: 13px;
position: relative;

}

.header  .nav-link {
font-size: 13px;
padding-top: 13px;
padding-bottom: 14px;
padding-left: 10px;
padding-right: 10px;
color: #D7D7D7;
text-decoration: none;
display: block;

}

.header  .nav-link:hover{
color: #0077b5;
}

body, input, select, textarea, button {
font-family: Arial,sans-serif;
}
.header .logo-container {
margin: 0;
padding-top: 0;
padding-bottom: 0;
border-bottom: none;
float: left;
}
.header .first-child {
width: auto;
float: left;
height:auto;
}

 .header .global-search {
margin-left: 156px;
padding-top: 3px;
padding-bottom: 0px;
float: right;
margin-right: -14px;
position: relative;
margin-bottom: 0;
}

.global-search fieldset {
float: left;
}
.header fieldset {
border: none;
margin: 0;
padding: 0;
}
.global-search .search-scope {
float: left;
z-index: 10005;
margin-top:3px;
}
.header .search-scope .label {
background: #575757;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888888), color-stop(4%, #888888), color-stop(100%, #575757));
background-image: -webkit-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
background-image: -moz-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
background-image: -o-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
background-image: linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
border-radius: 2px 0 0 2px;
display: block;
width:40px;
padding-top: 1px;
padding-bottom: 1px;
}
.header .search-scope .label span.search-dropdown {
background-position: 0 -796px;
}
.header .search-scope .label span {
text-indent: -119988px;
overflow: hidden;
text-align: left;
padding-left: 30px;
padding-right: 0px;
background-image: url('../../img/images/sprite_global.png');
background-position: 0 -173px;
background-repeat: no-repeat;
border: none;
margin: 0;

}
.global-search .search-scope .label span {
/*border: 1px solid #333;
border-right: none;*/
display: block;
cursor: pointer;
height: 26px;
overflow: hidden;
}
.global-search select {
position: absolute !important;
height: 10px;
width: 10px;
/*overflow: hidden;*/
clip: rect(1px, 1px, 1px, 1px);
border-radius: 5px;

}/*
select {
-webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
border: 1px solid;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
background-color: white;
cursor: default;
}*/

.search-box-container {
width: 345px;
float:left;


}
.search-box-container .search-text{

display: inline;
float: left;
padding-left: 4px;
position: relative;
margin-top:3px;
margin-bottom: 5px;
width: 345px;
font-size: 13px;
height:28px;
background: #fff;
-webkit-border-radius: 0 2px 2px 0;
-moz-border-radius: 0 2px 2px 0;
-ms-border-radius: 0 2px 2px 0;
-o-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
outline-color: none;
}

.search-text:focus{
	outline-color: #00688B; 
}

.header .search-button {


border-width: 1px;
border-style: solid;
cursor: pointer;
overflow: visible;
text-decoration: none !important;
width: auto;
text-shadow: 0 1px 1px rgba(0,0,0,0.35);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
padding: 0 13px;
height: 31px;
line-height: 29px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 13px;
color: #fff;
background-color: #287bbc;
border-color: #1b5480;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
white-space: nowrap;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
vertical-align: middle;
margin-left: 5px;
margin-right: 5px;
margin-top:3px;
padding-left: 3px;
padding-right: 3px;
display: block;
float: left;
height: 27px;
line-height: 24px;
overflow: hidden;
width: 50px;
}
.header .search-button span {
margin-left: 13px;
margin-right: 13px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
background: transparent url('../../img/images/sprite_global.png') no-repeat -5px -659px;
float: left;
height: 25px;
line-height: 25px;
vertical-align: middle;
width: 16px;
}
.header .advanced-search-outer {
display: table;
padding-top: 0px;
padding-bottom: 0px;
margin-left: 5px;
margin-right: 5px;
margin-top: 3px;
height: 29px;
width: 80px;
float: left;
}
.header .advanced-search-inner {
display: table-cell;
vertical-align: middle;
}

.header .advanced-search {
display: table-cell;
vertical-align: middle;
margin-left: 5px;
margin-right: 5px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
background: none;
color: #D7D7D7;
font-size: 11px;
height: auto;
line-height: 11px;
text-decoration: none;
text-indent: 0;
width: auto;
float: none;
}
.header .advanced-search:hover {
    color: #0073B2;
}
.header .last-child {
float: right;
width: auto;
margin-left: 10px;
}
.header .utilities {
margin-left: 0px;
margin-right: -5px;
margin-bottom: 0;
height: 42px;
float: right;
}

.header .utilities ul {
padding: 0;
margin: 0;
list-style: none;
}

.header .utilities .nav-item {
position: static;
}

.header .nav .nav-item {
float: left;
line-height: 13px;
position: relative;
}
.drop-div{
    padding:0;
    margin-top:0;
    background-color: #fff;
    width:345px;
    position:fixed;
/*    margin-right:20%;*/
	margin-left: -80px;
    top:42px;
    z-index: 1000;
    border: 5px solid #333;
    display:none;
}

.drop-div h3{
    font-size:16px;
    padding:5px;
   
    
    text-align:left;
    color:#fff;
    background-color: #333;
    margin:0;
}
.drop-div2{
    padding:0;
    margin-top:0;
    background-color: #fff;
    width:250px;
    position:fixed;
/*    margin-right:20%;*/
	margin-left: -80px;
    top:42px;
    z-index: 1000;
    border: 5px solid #333;
    display:none;
}

.drop-div2 h3{
    font-size:16px;
    padding:5px;
   
    
    text-align:left;
    color:#fff;
    background-color: #333;
    margin:0;
}
.lll{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 230px;
}

.header .utilities #header-messages-count {
	right: 2px;
	left:auto;
}

.header .gem {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	padding-top: 0px;
	padding-bottom: 0px;
	background: #e04c4c;
	font-size: 10px;
	position: absolute;
	left: 10px;
	top: 5px;
}

#con{
	float: left;
	width:100%;
}

.inbox-list1 {
	clear: both;
	padding:0;
	margin-top: 0px;
	margin-bottom: 0px;
	float:left;
}

.inbox-item1 {
	float:left;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;

}

.item-content1 {
margin-left: 0px;
margin-right: 0px;
float:right;
width:260px;
padding-left:15px;
padding-right:5px;
font-size:13px;

}
.inbox-actions1{
    float:left;
    width: 200px;
    margin-top: 10px;
}

.inbox-actions1 ul{
	float: left;
}

.inbox-actions1 li{
	float: left;
    display:inline;
}
img.photo1 {
    float:left;

padding: 2px;

margin:0;
}
.participants1{
    float:left;
    width:100%;
}
.headline1{
    float:left;
}
.date1{
    display:inline;
    float:right;
}

.btn-ternary1{
	background: #069;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
	background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
	border-color: #069;
	color: #fff !important;
	font-weight:bold;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;

	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
	display: inline;
}

.btn-quaternary1 {
	background: #ECECEC;
	background: -moz-linear-gradient(top, #fff 0, #ececec 100%);
	background: -o-linear-gradient(top, #fff 0, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #ececec));
	background: linear-gradient(top, #ffffff 0%,#ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC',GradientType=0 );
	border-color: #ccc;
	color: #585858 !important;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}

#abc{
    padding-bottom: 20px;
}
.header .utilities .activity-toggle.inbox-alert {

background-position: 0px 12px;
}
.header .utilities .activity-toggle {
padding-top: 0px;
padding-bottom: 30px;
background-image: url('../../img/images/sprite_global.png');
background-repeat: no-repeat;
margin-left: 5px;
margin-right: 5px;
padding-left: 10px;
padding-right: 18px;
}
.header .utilities .activity-toggle.notifications-alert, .nav-v5-2-header .utilities .activity-toggle.notifications-alert:hover {
background-position: center -30px;
}

.header .nav .nav-item2 {
float: left;
line-height: 13px;
position: relative;
margin-left: 7px;
width: 40px;

}
.header .utilities .activity-toggle.add-connections-btn, .nav-v5-2-header .utilities .activity-toggle.add-connections-btn:hover {
background-position: center -114px;

}
.main-navigation{
background-color: #1a1a1a;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a1a1a), color-stop(100%, #303030));
background-image: -webkit-linear-gradient(top, #1a1a1a 0%,#303030 100%);
background-image: -moz-linear-gradient(top, #1a1a1a 0%,#303030 100%);
background-image: -o-linear-gradient(top, #1a1a1a 0%,#303030 100%);
background-image: linear-gradient(top, #1a1a1a 0%,#303030 100%);
z-index: 1;
box-shadow: 0 0 10px #333;
position: static;
margin-top:42px;
}
.main-navigation .wrapper {

position: relative;
margin-left: auto;
margin-right: auto;
width: 974px;
/*height:30px;*/
}
.nav {
float: left;
}
ul{
    list-style: none;
}
.main-navigation  .nav-item:first-child {
margin-left: 0px;
margin-right: 20px;
}
.main-navigation  .nav-item {
margin-left: 20px;
margin-right: 20px;
}
.nav .nav-item {
float: left;
line-height: 13px;
position: relative;
}
.main-navigation .nav-link {
padding-left: 0px;
padding-right: 0px;
padding-top: 9px;
padding-bottom: 7px;
}
.nav .nav-link {

color: #D7D7D7;

text-decoration: none;
cursor: pointer;
display: block;
}
.nav a {
    font-size:13px;
color: #0077b5;
text-decoration: none;
}
.nav a:hover {
color: #069;
}

.main-navigation .premium-nav {
float: right;
}

.sub-nav {
-webkit-box-shadow: 0 0 10px #333;
-moz-box-shadow: 0 0 10px #333;
box-shadow: 0 0 10px #333;
opacity: 0;


background: #2f2f2f;
position: absolute;
top: 100%;
height:0;

}
.sub-nav li{
    display:none;
}
.nav li:hover .sub-nav { 
z-index: 1;
opacity:100;
position: absolute;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
height:auto;
padding-top: 5px;
padding-bottom: 5px;

}
.nav li:hover .sub-nav li{ 
display:block;

}
.nav .sub-nav>li>a {
margin-left: 10px;
margin-right: 10px;
padding-left: 0px;
padding-right: 30px;
padding-top: 5px;
padding-bottom: 5px;
color: #fff;
display: block;
white-space: nowrap;
background-color: transparent;
}
.nav .sub-nav>li>a:hover{
    color: #0077b5;
    text-decoration: none;
}
.header .utilities .logout{
    color: #D7D7D7;
text-decoration: none;
cursor: pointer;
display: block;
font-size:14px;
font-weight:bold;
margin-left: 5px;
margin-right: 5px;
padding-left: 10px;
padding-right: 18px;
padding-top: 0px;
padding-bottom: 30px;
margin-top:12px;

}

.logout img{

	width:20px;
	height: 20px;
	margin-top: -3px;
}
#drop-search{
	border: 5px solid #333;
	background-color: #fff;
	position: fixed;
	margin-left: -50px;
	top: 40px;
	width: 450px;
	display: none;
}

#drop-search h3{
	margin: 0;
	padding: 2px 0 2px 20px;
	background-color: #eee;
	font-size: 11px;
	color: #7f7f7f;
	font-weight: normal;
}

.s-ul{
	margin: 0;
	padding-left: 0;
}

.s-li{
	border-bottom: 1px solid #eee;
	padding-left: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}
.s-li2{
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}
.s-li2 p{
	margin: 0;
	padding-left: 0;
}

.s-li2 a{
	color:black;
	width: 100%;
}
.s-li2 a:hover{
	background-color: #323232;
	color: #fff;
	text-decoration: none;
}
.s-li2:hover{
	background-color: #323232;
	color: #fff;
}


.s-li:hover{
	background-color: #323232;
	color: #fff;
}

.s-li img{
	width: 45px;
	height: 45px;
	float: left;
}

.s-li h4{
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 50px;
	padding-top: 10px;
}

.s-li p{
	padding-left: 0px;
	margin: 0 0 0 50px;
	font-size: 12px; 
}