body{
	background-color: #e6e6e6;
	font-family: Arial,sans-serif;
}

div{
	display: block;
}

/************************** - BODY - *****************************/

#header, #body, #footer{
	/*width: 80.5em;*/
	/*min-width: 805px;*/
	/*max-width: 95%;*/
	width: 805px;
	clear: both;
	margin: 0 auto;
}

.logo{
	float: left;
	margin: 0 10px 5px 4px;
	position: relative;
}

#body{
	background: #fff;
	padding: 0;
}

.wrapper{
	padding: 15px;
	width: 805px;
	background: #fff;
	padding: 0;
	border: 1px solid #ccc;
	float: left;
}

.ex{
	padding: 15px;
	margin: 0 auto;
	width: 775px;
	float: left;
}

.heading{
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 18px;
}

.heading h1{
	font-size: 17px;
	font-weight: normal;
	width: 75%;
	float: left;
	color: #39c;
	margin: 0;
}

#main form{
	width: 485px;
	margin: 0 0 20px;
	float: left;
	font-family: Arial,sans-serif;
}

.summ{
	float: right;
	line-height: 1.2;
	display: inline;
	padding-right: 5px;
	font-size: 13px;
}

.progress-meter{
	border: 1px solid #666;
	background: transparent url('../../img/images/progress_quarter.png') repeat-x 0 0;
	float: right;
	width: 100%;
	height: 12px;
	width: 98px;
}

.has-progress{
	border-right: 1px solid #666;
	background: transparent url('../../img/images/progress_quarter.png') repeat-x 0 -50px;
	display: block;
	height: 12px;
	width: 25px;	
	position: relative;
}

.h2{
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 0;
}

.header{
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 754px;
	height: 27px;
	background: #e8e8e8 url('../../img/images/bullet.png') repeat-x 0 0;
	color: #333;
	padding: 0 8px;
	border: 1px solid #ccc;
	overflow: hidden;
	zoom: 1;
	float: left;
	font-size: 13px;
}

.select-all{
	margin: 0;
	float: left;
	line-height: 27px;
}

.num-selected{
	margin: 0;
	line-height: 27px;
	float: right;
	color: #666;
}

.contacts{
	margin: 0 0 14px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	width: 770px;
	max-height: 283px;
	overflow: hidden;
	overflow-y: scroll;
	display: inline-block;
	float: left;
}

.temppp{
}

.row{
	background: #edf2f5 url('../../img/images/contact.png') repeat-y;
	/*border-bottom: 1px solid #ccc;*/
	display: block;
	float: left;
	width: 770px;
}

.person{
	width: 50%;
	float: left;
	padding-bottom: 8px;
}

.person input{
	margin: 27px 9px 0 16px;
	float: left;
	cursor: pointer;
}

.person img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 10px 8px 0 0;
}

.details{
	float: left;
	margin: 5px 8px 0 0px;
	padding: 2px 1px;
}

.details label{
	font-weight: bold;
	font-size: 13px;
}

.mail{
	font-style: italic;
	font-size: 13px;
	margin: 4px 0;
}

.title{
	margin: 5px 0;
	font-size: 12px;
	color: #777;
}

/************** BUTTON *************/

.li_but{
	width: 410px;
	font-size: 12px;
	list-style-type: none;
	float: left;
}

.li_but input{
	margin: 0;
	border: 1px solid #045a8b;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	padding: 3px 10px 2px;
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
	background: -moz-linear-gradient(top, #73aec9 0%,#0571a6 100%);
	float: left;
}

.li_but input:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
	border-color: #004a73;
	background: -moz-linear-gradient(top, #69a0b6 0%,#04608e 100%);
}

.li_but a{
	font-size: 12px;
	padding-left: 5px;
	color: #069;
	text-decoration: none;
	width: auto;
	vertical-align: middle;
	line-height: 13px;
	text-align: right;
}

.li_but a:hover{
	text-decoration: underline;
}

.li_but span{
	float: left;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 8px;
	line-height: 24px;
}

/***********************************/

/*.skip{
	float: left;
	margin: 0 0 25px 121px;
	width: 550px;
	font-size: 13px;
	display: inline;
}
*/

/*.li_but a{
	float: left;
	text-decoration: none;
	color: #069;
	margin-top: 8px;
}

.li_but a:hover{
	text-decoration: underline;
}
*/

.li_but p{
	float: right;
	margin: 0;
	padding-left: 5px;
}

/************************** - FOOTER -****************************/

#footer {
	border: none;
	padding: 0;
	font-size: 11px;
	margin: 0 auto;
	padding: 10px 0;
	color: #666;
	clear: both;
}

#legal{
	margin: 0;
	margin-left: 2px;
}

p#copyright {
	float: left;
	border-right: 1px solid #ccc;
	padding: 0 8px 0 0;
	margin-right: 8px;
	margin-top:0;
	-webkit-text-size-adjust: 165%;
}

p#terms-of-use {
	margin-bottom: 8px;
	margin-top: 0;
}

