#body{
	width: 980px;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.toop{
	margin-top: 80px;
	margin-bottom: 10px;
}

#body .wrapper{
	padding: 0px 15px;
	font-size: 62.5%;
}

.mid_heading{
	font-size: 18px;
	font-family: inherit;
	font-family: Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 15px;
}

#body .wrapper p{
	margin: 10px 0px;
	font-size: 13px;
}

.text_box input{
	width: 300px;
	margin-top: 10px;
}

.in_but{
	border: 1px solid #045a8b;
	border-radius: 3px;
	cursor: pointer;
	padding: 3px 10px 2px;
	line-height: 1.35;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(115, 174, 201)), color-stop(0.05, rgb(115, 174, 201)), color-stop(0.05, rgb(51, 138, 176)), to(rgb(5, 113, 166)));
	background-image: -moz-linear-gradient(50% 0%, rgb(115, 174, 201) 0px, rgb(115, 174, 201) 1px, rgb(51, 138, 176) 1px, rgb(5, 113, 166) 100%);
	color: #fff;
	font-size: 12px;
}

.in_but:hover{
	background: -moz-linear-gradient(center top , rgb(115, 174, 201) 0px, rgb(115, 174, 201) 1px, rgb(51, 138, 176) 1px, rgb(5, 113, 166) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
	border-color: #004a73;
}

#footer{
	margin-top: 18px;
	font-size: 12px;
	line-height: 14px;
	color: #666;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 974px;
	border-top: 1px solid #ccc;
	margin-right: auto;
	margin-left: auto;
}

#footer .wrapper{
	clear: both;
}

#bot_logo{
	display: block;
	float: left;
	font-size: 12px;
	border-right: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 8px;
	padding-right: 8px;
	vertical-align: baseline;
	clear: both;
}

#bot_logo span{
	background-image: url('/Project/images/footer_logo.png');
	float: left;
	height: 16px;
	width: 62px;
	text-align: left;
	margin-right: 3px;
	padding-right: 0px;
	margin-top: -2px;
	margin-bottom:  -2px;
	text-indent: -119988px;
}

.legal{
	list-style: none;
	line-height: 14px;
	font-size: 12px;
}

ul.legal li.last{
	border-right: none;
}

ul.legal li{
	display: inline;
	font-size: 12px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

ul.legal li a{
	text-decoration: none;
	color: #069;
}

ul.legal li a:hover{
	text-decoration: underline;
	color: #069;
}

span.error{
	margin-bottom: 5px;
	width: 267px;
	font-size: 12px;
	color: #900;
	font-weight: bold;
	margin-right: 30%;
}