body{
	 background-image: url('/Project/images/background.png');
	 background-repeat: repeat;
	 font-family: Arial, sans-serif;
}

div{
	display: block;
}

#body{
	padding: 0;

	width: 80.5em;
	min-width: 805px;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#top-header{
	

float: center;
	min-width: 805px;
	max-width: 55%;
margin-left: auto;
margin-right: auto;
}
#logo-linkedin {
float: left;
margin-left: auto;
margin-right: auto;
position: relative;
max-width: 20%;
}

.wrapper{
	float:left;
	min-width: 830px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#message{
	
margin:0;
color: #666;
float: right;
font-weight: normal;
font-size: 13px;
}
.wrapper2{
	margin-top: 10px;
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	width: 80.5em;
	min-width: 805px;
	max-width: 55%;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.intro{
	background: transparent url('/Project/images/int_logo.png') no-repeat bottom left;
	margin-left: 108px;
	margin-top: 0;
	padding-bottom: 2px;
}

.intro h1{
	padding: 16px 18px;
	background: #00679a;
	background: -moz-linear-gradient(top, #91cce7 0%, #00679a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91cce7), color-stop(100%, #00679a));
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: -108px;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	line-height: 23px;
	font-weight: normal;
}

#content{
	width: 100%;
	float: left;
	clear: both;
}

.container{
	width: auto;
	border-right: 1px solid #ccc;
	margin: 10px 0 25px 0;
	padding-right: 40px;
}

form ul{
	list-style-type: none;
}

form ul li{
	margin-bottom: 10px;
}

form label{
	width: 97px;
	margin-right: 0;
	padding: 3px 0;
	font-size: 13px;
	color: #333;
	background-color: transparent;
	font-weight: bold;
	display: block;
	float: left;
	text-align: right;
}

.temp{
	float: left;
}

.field{
	margin-left: 108px;
}

.field input{
	width: 267px;
	border: 1px solid #999;
	outline: none;
	padding: 2px 3px;
	background-color: #fff;
	display: block;
}

/*input.focus{
	border: 2px solid #006fa0;
	padding: 1px 2px;
	color: #fff;
	cursor: text;
}*/

.note{
	margin-left: 108px;
	font-size: 11px;
	color: #666;
	margin-top: 0;
}
.actions {
background: none;
padding-top: 0;
margin-top: 10px;
font-size: 100%;
zoom: 1;
margin-left: 147px;
zoom: 1;
}

.btn-tertiary {
background: #69A219;
background: -moz-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8bc03f), color-stop(100%, #69a219));
background: linear-gradient(top, #afd47b 0%,#afd47b 1px,#8bc03f 1px,#69a219 100%);
border-color: #693;
color: #fff !important;
font-weight: bold;
white-space: nowrap;
border-width: 1px;
border-style: solid;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0;
overflow: visible;
padding: 3px 10px 2px;
text-decoration: none !important;
vertical-align: top;
width: auto;
}


#register-custom-nav {

clear: both;
zoom: 1;

line-height: 17px;
color: #333;
font-weight: normal;

margin-left: 147px;
font-size: 13px;

margin-top: 15px;
}
#register-custom-nav a {

color:#069;
text-decoration: none;
}
#register-custom-nav a:hover {

color:#069;
text-decoration: underline;
}

#extra {
width: 42%;
}
.sign-in{
text-align: center;
}

.os-win .handwritten {
font-family: LazyDogRegular,Arial,sans-serif;
}
.handwritten {
font-size: 18px;
font-family: LazyDogRegular,Arial,sans-serif;
font-weight: normal;
font-style: italic;
}
.fb_button {
background: #29447e url('/Project/images/fb_button.png') 0 -44px no-repeat;
display: inline-block;
padding: 0 0 0 1px;
outline: none;
margin-bottom: 10px;
}
a {
text-decoration: none;
color: #069;
}
.fb_button .fb_button_text {
background: #5f78ab url('/Project/images/fb_button.png');
border-top: 1px solid #879ac0;
border-bottom: 1px solid #1a356e;
color: #fff;
display: block;

font-weight: bold;
font-size: 11px;
padding: 2px 6px 3px 6px;
margin: 1px 1px 0 21px;
height: 14px;
}
.actions2
{
	margin-left: 65%;
}
#agreement {
margin: 0;
}
#agreement {
clear: both;
font-size: 70%;
border-top: 1px solid #ccc;
color: #555;
margin-bottom: 10px;
padding-top: 15px;
text-align: center;
}
#footer {
border: none;
padding: 0 0 0 8px;
width: 80.5em;
min-width: 805px;
font-size: 13px;
margin: 20px auto;
padding: 10px 0;
color: #666;
clear: both;
}

p#copyright {
float: left;
border-right: 1px solid #ccc;
padding: 0 8px 0 0;
margin-right: 8px;
margin-top:0;
margin-left: 12%;
-webkit-text-size-adjust: 165%;
}
p#terms-of-use {
margin-bottom: 8px;
}

span.error{
	margin-bottom: 5px;
	width: 267px;
	font-size: 12px;
	color: #900;
	font-weight: bold;
	padding-right: 50px;
	float: left; 
	display: none;
}
#alert {
	margin-top: 10px;
background: #fee url('/Project/images/global.png') no-repeat 7px -643px;
padding-bottom: 4px;
display: none;
}
div.alert2{

color: #333;
margin: 0;
padding: 6px 7px 0px 35px;
overflow: hidden;
min-height: 28px;
position: relative;
font-size: 13px;
}
p, div.alert h3 {
font-size: 13px;
margin: 7px 21px 5px 7px;
}