body{
	background-color: #e6e6e6;
	font-family: Arial,sans-serif;
}

div{
	display: block;
}

/************************** - BODY - *****************************/

#header, #body, #footer{
	/*width: 80.5em;*/
	/*min-width: 805px;*/
	/*max-width: 95%;*/
	width: 805px;
	clear: both;
	margin: 0 auto;
}

.logo{
	float: left;
	margin: 0 10px 5px 4px;
	position: relative;
}

#body{
	background: #fff;
	padding: 0;
}

.wrapper{
	padding: 15px;
	width: 805px;
	background: #fff;
	padding: 0;
	border: 1px solid #ccc;
	float: left;
}

.ex{
	padding: 15px;
	margin: 0 auto;
	width: 775px;
	float: left;
}

.heading{
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 18px;
}

.heading h1{
	font-size: 17px;
	font-weight: normal;
	width: 75%;
	float: left;
	color: #39c;
	margin: 0;
}

#main form{
	width: 485px;
	margin: 0 0 20px;
	float: left;
	font-family: Arial,sans-serif;
}

.progress{
	float: right;
	font-size: 13px;
}

.summ{
	float: left;
	line-height: 1.2;
}

.progress-meter{
	border: 1px solid #666;
	background: transparent url('/Project/images/progress_quarter.png') repeat-x 0 0;
	float: right;
	width: 100%;
	display: block;
	height: 12px;
}

.has-progress{
	border-right: 1px solid #666;
	background: transparent url('/Project/images/progress_quarter.png') repeat-x 0 -50px;
	display: block;
	height: 12px;
	width: 25px;	
}

.cover{
	width: 550px;
	margin-left: 120px;
	background: #DDF0F8;
	border: 1px solid #9acce6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	float: left;
}

.content{
	padding: 15px 20px 0 20px;
	padding-bottom: -10px;
	float: left;
}

.intro{
	margin: 0 10px 15px 10px;
	font-size: 13px;
	float: left;
}

.fieldgroup{
	display: inline-block;
}

.fieldgroup input{
	width: 310px;
	outline: none;
	float: left;
}

ul{
	list-style: none;
	margin: 0;
}

form ul li label{
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-align: right;
	margin-right: 10px;
	float: left;
	display: block;
}

.btn{
	margin-left: 123px;
	margin-top: 5px;
}

.btn input{
	background: #0571A6;
	background: -moz-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
	background: -o-linear-gradient(top, #73aec9 0, #73aec9 1px, #338ab0 1px, #0571a6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
	background: linear-gradient(top, #73aec9 0%,#73aec9 1px,#338ab0 1px,#0571a6 100%);
	border-color: #045a8b;
	color: #fff !important;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}

.btn input:hover{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(115, 174, 201)), color-stop(0.05, rgb(115, 174, 201)), color-stop(0.05, rgb(51, 138, 176)), to(rgb(5, 113, 166)));
}

.note{
	margin-left: 123px;
	margin-top: 5px;
	font-size: 11px;
	color: #666;
}

.skip{
	float: left;
	margin: 0 0 25px 121px;
	width: 550px;
	font-size: 13px;
	display: inline;
}

.skip a{
	float: right;
	text-decoration: none;
	color: #069;
	margin-top: 8px;
}

.skip p{
	margin-left: 4px;
	margin-top: 8px;
	float: right;
}

/************************** - FOOTER -****************************/

#footer {
	border: none;
	padding: 0 0 0 8px;
	font-size: 10px;
	margin: 20px auto;
	padding: 10px 0;
	color: #666;
	clear: both;
}

#legal{
	margin-left: 3px;
}

p#copyright {
	float: left;
	border-right: 1px solid #ccc;
	padding: 0 8px 0 0;
	margin-right: 8px;
	margin-top:0;
	-webkit-text-size-adjust: 165%;
}

p#terms-of-use {
	margin-bottom: 8px;
}
